<figure class="image">
  <img src="//cdn.shopify.com/s/files/1/1725/5449/products/Variety_subscription_2048x2048.jpg?v=1517257445">
</figure>

<div id="center-tile" class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child notification is-primary">
        <p class="title">SIZZLE</p>
        <p class="subtitle">A Delectable Recipe Search-Engine</p>
        <div class="content">
          Created by Amalie & Dina - Powered by Yummly
        </div>
      </article>
    </div>
  </div>
</div>
