<div id="search-center-tile" class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child notification is-dark">
      <p class="title has-text-centered">SIZZLE</p>
      <p class="subtitle has-text-centered">A Delectable Recipe Search-Engine</p>
    </article>
  </div>
</div>
