/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

 #center-tile {
   max-width: 50rem;
   margin: -50rem auto 0;
   opacity: 0.7;
   overflow: visible !important;
 }

 #recipe-center-tile {
   margin: 0;
 }

#flex-styling {
  flex-flow: row wrap;
  margin-bottom : 4em;
}


body, html {
  height: 100%;
}

/* #image-user-show, #image-search-three {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#image-user-show {
  background-image: url("/trial-for-cover.jpeg");
}



#image-search-three {
  background-image: url("/cooking.jpeg");
} */

#header-margin-top-bottom {
  margin: 0.5rem 0 2rem 0;
}

#footer-bottom {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 0.5vh;
  margin: 0;
  line-height: 0.5vh;
}

.footer {
  padding: 30px 0 30px;
}

#footer-text-margin {
  margin: 0 1em;
}

#small-right {
  float: right;
}

#recipe-show-container {
  margin: 2em auto;
  padding: 0;
  width: 90vw;
  height: 100vh;
}

#image-size-recipe-show {
  display: inline-block;
  height: auto;
  width: 80%
}

#text-tile {
  max-width: 50rem;
  margin: -5rem auto 0;
  opacity: 0.7;
}

#cookbook-tile {
  max-width: 50rem;
  margin: 3rem auto 0;
  opacity: 0.7;
}

#ingredients-section {
  margin: 0 0 5rem;
  padding: 0;
  width: 40%;
  float: right;
}

#image-radius, #image-radius-show {
  border-radius: 10px;
}

#inline-block-image {
  display: inline-block;
  width: 50%;
  float: left
}

#inline-p-for-show {
  display: inline-block;
  width: 80%;
}

#servings-inline {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  float: right;
}

#time-inline {
  padding: 0;
  margin: 0;
  display: inline-block;
  float: left;
}


/* , #image-user-cookbook */

/* #image-user-cookbook {
  background-image: url("/user-cookbook.jpeg");
} */
